body{
 padding-top:50px; 
background:rgb(225,225,225);
}

Header,section,aside,footer{

}
footer{
 border-top:1px solid #aaa;
 padding-top:1em;
 margin-top:2em;
 margin-bottom:3em;
 font-size:90%;
 letter-spacing:0.01em; 
}

@media screen and (max-width:768px){
  header,section,aside,footer{
    background: #fff; 
  }
}
